body{
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}

label{
  display: block;
}

input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

span{
  color: tomato;
  font-size: 13px;
}