body{
  background: #011638;
  color: #DFF8EB;
  display: flex;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
}

label{
  display: block;
  margin-top: 12px;
}

input{
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-top: 2px;
}

select{
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-top: 2px;
}

span{
  color: tomato;
  font-size: 13px;
}