body{
  background: #011638;
  color: #DFF8EB;
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

span{
  color: tomato;
  font-size: 13px;
}

#main{
  width: 90vw;
}

#contenedor{
  display: flex;
  flex-direction: column;
}

#retiro, #envio{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
}

@media screen and (min-width: 768px){
  #contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #blockTipoCarga{
    width: 50%;
  }
}
